<div class="container">
  <h1 class="section-title">
    WITNESS STATEMENT FORM
  </h1>

  <form [formGroup]="form">
    <div formGroupName="meta">
      <div class="form-group">
        <label for="district">District:</label>
        <input nz-input type="text" id="district" formControlName="district" [readonly]="readonly_state.district">
      </div>
      <div class="form-group">
        <label for="ps">PS:</label>
        <input nz-input type="text" id="ps" formControlName="ps" [readonly]="readonly_state.ps">
      </div>
      <div class="form-group">
        <label for="year">Year:</label>
        <input nz-input type="text" id="year" formControlName="year" [readonly]="readonly_state.year">
      </div>
      <div class="form-group">
        <label for="fir">FIR/GD No.:</label>
        <input nz-input type="text" id="fir" formControlName="fir_gd" [readonly]="readonly_state.fir_gd">
      </div>
      <div class="form-group" *ngIf="readonly_state.date">
        <label for="date">Date:</label>
        <input nz-input type="text" id="fir" formControlName="date" [readonly]="readonly_state.date">
      </div>
      <div class="form-group" *ngIf="!readonly_state.date">
        <label for="date">Date:</label>
        <nz-date-picker formControlName="date" [nzFormat]="'dd/MM/yyyy'"></nz-date-picker>
      </div>
    </div>

    <div class="scroll">
      <table id="propertyTable">
        <thead>
          <tr>
            <th>Acts</th>
            <th>Sections</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of $table; let table_offset = index;">
            <td>
              <input nz-input type="text" id="acts"
                [ngModelOptions]="{standalone: true}" [(ngModel)]="item.acts">
            </td>
            <td>
              <input nz-input type="text" id="section"
                [ngModelOptions]="{standalone: true}"
                [(ngModel)]="item.section">
            </td>
            <td>
              <button nz-button type="button" nzType="primary"
                [disabled]="$table.length === 1"
                (click)="removeTable(table_offset)">
                <i nz-icon nzType="minus-circle"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button
        nz-button type="button"
        nzType="primary"
        (click)="addTable()">Add Section</button>
    </div>

    <div class="scroll" formGroupName="witness">
      <h6 nz-typography>
        Details of the Witness:
      </h6>
      <div class="form-group">
        <label for="witnessName">Name:</label>
        <input nz-input type="text" id="witnessName" formControlName="name">
      </div>
      <div class="form-group">
        <label for="witnessFatherName">Father's/Husband's
          Name:</label>
        <input nz-input type="text" id="witnessFatherName"
          formControlName="father_name">
      </div>
      <div class="form-group">
        <label for="witnessAge">Age:</label>
        <input nz-input type="text" id="witnessAge" formControlName="age">
      </div>
      <div class="form-group">
        <label for="witnessAge">Occupation:</label>
        <input nz-input type="text" id="witnessAge"
          formControlName="occupation">
      </div>

      <div class="form-group">
        <label for="witnessesAddress">Permanent Address:</label>
        <textarea nz-input id="witnessesAddress" formControlName="address"
          rows="4"></textarea>
      </div>

      <div class="form-group">
        <label for="witnessesAddress">
          Statement of the Witness:
        </label>
        <textarea nz-input id="witnessesStatement" formControlName="statement"
          rows="4"></textarea>
      </div>

      <label nz-checkbox
        formControlName="is_agree"
      >
        I've read the above statement and admit it to be correct.
      </label>
    </div>

    <div class="submit-button-container" style="width: 100%;">
      <button style="width: 100%;" nz-button nzType="primary" type="submit" id="submitButton"
        [disabled]="!isFormValid()"
        (click)="prepraeData()"
        class="submit-button" disabled>Submit</button>
    </div>
  </form>
</div>